/**********************************************************/
/*                        BUTTONS                         */
/**********************************************************/
.ma-btn--primary {
  background: 0 0;
  color: #FFF;
  background-color: #FF5A5F;
}

.ma-btn--primary:hover {
  background: 0 0;
  color: #FFF;
  background-color: #FF5A5F;
}

.ma-btn--primary:focus {
  background: 0 0;
  color: #FFF;
  background-color: #FF5A5F;
}

.ma-btn--primary-without-bg {
  background: 0 0;
  color: #FF5A5F;
  background-color: transparent;
  border-color: #FF5A5F;
}

.ma-btn--primary-without-bg:hover {
  background: 0 0;
  color: #FF5A5F;
  background-color: transparent;
  border-color: #FF5A5F;
}

.ma-btn--primary-without-bg:focus {
  background: 0 0;
  color: #FF5A5F;
  background-color: transparent;
  border-color: #FF5A5F;
}

.ma-btn--secondary {
  background: 0 0;
  color: #FFF;
  background-color: #008489;
}

.ma-btn--secondary:hover {
  background: 0 0;
  color: #FFF;
  background-color: #008489;
}

.ma-btn--secondary:focus {
  background: 0 0;
  color: #FFF;
  background-color: #008489;
}
